# comment out to commit database
db

# comment out to commit plugins
wp-content/plugins/

# comment out to commit uploads
wp-content/uploads/

# comment out to commit themes
wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/